body {
    margin:0;
    margin-bottom:20px;
}

/*
Sections:
Top is username place
Middle is chat messages
Bottom is the sending area
*/
#top {
    margin-top:10px;
}
#middle {
    width:100%;
    margin-bottom:70px;
}
#bottom {
    position: fixed;
    bottom:0px;
    /*height:50px;*/
    width:93%;
    margin-bottom: 0px;
}

/* Sending area stuff */
.prefix {
    position:relative;
    top:15px;
}
#submit {
    outline: none;
}
#submitcontainer {
    position: absolute;
    top: 23px;
    right: 4%;
}
#text {
    word-wrap: break-word; /* prevents words from overflowing inside the container */ 
}
.fixed-action-btn {
    bottom:20px;
}