#top {
    margin-top:10px;
}
#middle {
    width:100%;
    margin-bottom:60px;
}
#bottom {
    position: fixed;
    bottom:0px;
    height:50px;
    width:100%;
}

body {
    margin:0;
    margin-bottom:20px;
}
.prefix {
    position:relative;
    top:15px;
}
#submit {
    outline: none;
}
#submitcontainer {
    position: absolute;
    top: 23px;
    right: 4%;
}

#text {
    word-wrap: break-word;
}