/*
    CSS will apply to dynamically generated cards
*/

.card {
    width:400px;
    height:200px;
    border:2px solid black;
    display:inline-block;
    margin:10px;
    padding:10px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 5px 3px #888888;
}
.cards {
    width: 100%;
}
.image {
    float:right;
    width:100px;
    height:100px;
}
img {
    width:100px;
    height:100px;
}
span {
    width:200px;
}
.tag {
    color:blue;
}

.createdby {
    position:absolute;
    left:5px;
    bottom:5px;
}

a {
    color:red;
    text-decoration: none;
}
a:visited {
    color:red;
}
@media (max-width: 600px) {
  span {
    font-size: 22px;
  }
}
body {
    color: #212121;
    font-family: roboto;
    padding-left:10px;
    padding-right:10px;
}